## Author

Ala'a Ahmed Alrefai

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Data scince tools
* Data science library
* Markdown in Jupyter

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### Below are a few examples of evaluating arithmetic expressions in Python

|Data Science Tools|
|------|
|Rstudio|
|Apache|
|tensorflow|

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matplotlib

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
## 1-Python
## 2-R
## 3-SQL
## 4-Julia

# Some of the commonly used libraries used by Data Scientists include:
## 1-Panda
## 2-Numpy
## 3-Matplotlib

[djdjf](https://www.coursera.org/)

logo: ![thos id pic]("C:\Users\ALMODAWE\Desktop\5-dslibraries.png")

|country|capital|
|-------|-------|
|jordan|amman|
|syria|dimascus|

|Fruits | Quantity(Kg) | Price(In Rupee) | 
| ------ | ------ | ------ | 
| Apple | 2 |500|
|Orange | 1 |200|
| Mango | 3 |1000|
| Grapes | 2 |400|

|Fruits|Quantity(Kg)|Price(In Rupee)|
|------------|----------------|-----------------|
|Apple|   2|   500|
|Orange|1|200
|Mango|3|1000|
|Grapes|2|400|